
.mue-container {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 100%;
}

.mue-main {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    width: 100%;
    overflow: hidden auto;
}

.mue-header {
    display: -webkit-box;
    overflow: hidden;
}

.mue-footer {
    overflow: hidden;
}