@import "../var.less";

.mue-datatable(@theme: light) {
    @color: %("%s-common", @theme);
    @grey: %("%s-grey", @theme);
    @grey-sub: %("%s-grey-sub", @theme);
    @primary: %("%s-primary", @theme);
    @border-color: %("%s-border-color", @theme);
    @background: %("%s-background", @theme);
    @background-th: %("%s-table-th-background", @theme);
    @background-pop: %("%s-background-pop", @theme);
    @border-color-pop: %("%s-border-color-pop", @theme);

    .mue-datatable {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        display: block;
        overflow: hidden;
        background: @@background;
        color: @@color;
        position: relative;

        .mue-datatable-header {
            overflow: hidden;
            width: 100%;
            display: block;
            height: 0;
            position: absolute;
            background: @@background;
            top: 0;
            left: 0;
            z-index: 10;
            box-sizing: border-box;

            &:after {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                height: 1px;
                width: 100%;
                z-index: 20;
                background: @@border-color;
            }
        }

        .mue-datatable-main {
            display: block;
            overflow: hidden;
            height: 100%;
            width: 100%;
            border-top: 0 solid transparent;
            box-sizing: border-box;
        }

        .mue-datatable-fixed {
            box-sizing: border-box;
            overflow: hidden;
            background: @@background;
            float: left;
            border-right: 1px solid @@border-color;
        }

        .mue-datatable-center {
            box-sizing: border-box;
            overflow-x: auto;
            overflow-y: hidden;
            float: left;
            padding-bottom: @scroll-size;
            margin-bottom:  -@scroll-size;

            //&:after {
            //    content: "";
            //    display: block;
            //    height: @scroll-size;
            //    width: 100%;
            //    float: left;
            //}
        }

        .mue-datatable-scroller {
            width: 100%;
            overflow: hidden;
            //position: relative;
            //margin-bottom: -@scroll-size;

            //&:after {
            //    // 遮挡底部滚动条
            //    content: "";
            //    display: block;
            //    height: @scroll-size;
            //    width: 100%;
            //    position: absolute;
            //    z-index: 5;
            //    background: @@background;
            //    left: 0;
            //    bottom: 0;
            //}
        }

        .mue-datatable__inner-table {
            border-collapse: collapse;
            float: left;
            //border-spacing: 0;
            table-layout: fixed;
            //word-break: break-all;

            th, td {
                vertical-align: middle;
                box-sizing: border-box;
                text-align: center;
                font-size: @font-size;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            th {
                height: 36px;
                font-weight: 500;
                font-size: @table-th-font-size;
                padding: 3px 5px;

                > a {
                    padding: 0 5px;
                    display: block;
                    background: @@background-th;
                    float: left;
                    box-sizing: border-box;
                    overflow: hidden;
                    height: 30px;
                    line-height: 30px;
                    width: 100%;
                    border-radius: 2px;
                    vertical-align: middle;
                }

                .th-title {
                    display: inline-block;
                    height: 24px;
                    line-height: 24px;
                    position: relative;

                    &.is-sortable {
                        padding-right: 12px;

                        > i.icon-asc,
                        > i.icon-desc {
                            display: block;
                        }

                        &.is-asc > i.icon-asc {
                            color: @@primary;
                        }

                        &.is-desc > i.icon-desc {
                            color: @@primary;
                        }
                    }

                    i.icon-asc,
                    i.icon-desc {
                        height: 12px;
                        width: 12px;
                        line-height: 12px;
                        text-align: center;
                        position: absolute;
                        right: 0;
                        display: none;
                        color: @@grey-sub;
                    }

                    i.icon-asc {
                        top: 3px;
                    }

                    i.icon-desc {
                        bottom: 3px;
                    }
                }

                i.icon-asc, i.icon-desc {
                    color: @@primary;
                    display: none;

                }

                a.mue-datatable-asc {
                    padding-right: 16px;
                    position: relative;

                    i.icon-asc {
                        display: block;
                    }
                }

                a.mue-datatable-desc {
                    padding-right: 16px;
                    position: relative;

                    i.icon-desc {
                        display: block;
                    }
                }
            }

            td {
                padding: 0 10px;
                border-bottom: 1px solid @@border-color;

                //&:after {
                //    content: "";
                //    display: block;
                //    position: absolute;
                //    left: 0;
                //    bottom: 0;
                //    height: 1px;
                //    width: 100%;
                //    background: @@border-color;
                //}
            }
        }

        .mue-datatable-header .mue-datatable__inner-table {
            margin: 2px 0;
        }

        .mue-datatable-main {

            .mue-datatable__inner-table tr {
                background: @@background;

                &.tr_stripe {
                    // todo 斑马线
                }
            }
        }

        .mue-datatable-nodata {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            color: @@grey;
            font-size: @font-size-large;

            > img {
                height: 180px;
                margin: 10px 0;
            }
        }

        // 无边框模式
        &.no-border {
            .mue-datatable-header:after {
                content: none;
            }

            .mue-datatable-fixed {
                border-right: 0;
            }

            .mue-datatable__inner-table td {
                border-bottom: 0;
            }
        }

        // virtual
        //.mue-datatable-scroller.is-virtual{
        //    .mue-datatable__inner-table{
        //        float: left;
        //    }
        //}

    }
}