@import "../var.less";

.mue-datepicker(@theme: light) {
    .mue-date-picker,
    .mue-date-range-picker {
        @background: %("%s-background-bar", @theme);
        @color: %("%s-common", @theme);
        @grey: %("%s-grey", @theme);
        @border-color: %("%s-border-color-bar", @theme);

        color: @@color;

        .pick-bar {
            height: 40px;
            line-height: 40px;
            background: @@background;
            text-align: center;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;

            .border(@t) when (@t = dark) {
                border-bottom: 0;
                border-top: 1px solid @@border-color;
            }

            .border(@t) when not (@t = dark) {
                border-bottom: 1px solid @@border-color;
                border-top: 0;
            }

            .border(@theme);

            > a {
                font-size: @font-size-large;
                font-weight: 400;
                padding: 0 10px;
                display: inline-block;
                height: 100%;
                flex-shrink: 0;
                flex-grow: 0;
            }

            .van-icon {
                flex-shrink: 0;
                flex-grow: 0;
                color: @@grey;
                height: 100%;
                line-height: 40px;
                width: 40px;
                display: inline-block;
                text-align: center;
            }
        }
    }

    .mue-date-picker-input,
    .mue-date-range-picker-input {
        display: inline-block;
    }

    .mue-date-range-picker-input {
        width: 100%;
    }
}
