@import "../var.less";

.mue-dvr(@theme: light) {
    @grey-sub: %("%s-grey-sub", @theme);
    @grey: %("%s-grey", @theme);
    @background: %("%s-background", @theme);
    @background-base: %("%s-background-base", @theme);
    @color: %("%s-common", @theme);
    @border-color: %("%s-border-color", @theme);

    .mue-dvr-video {
        display: inline-block;
        box-sizing: border-box;
        border-top: 1px solid @@border-color;
        border-bottom: 1px solid @@border-color;
        position: relative;

        &:before {
            content: "";
            height: 100%;
            width: 1px;
            display: block;
            background: @@border-color;
            left: 0;
            top: 0;
            z-index: 2;
            position: absolute;
        }

        &:after {
            content: "";
            height: 100%;
            width: 1px;
            display: block;
            background: @@border-color;
            right: 0;
            top: 0;
            z-index: 2;
            position: absolute;
        }

        .mue-dvr-video__content {
            background: #bdbdbd;
            position: relative;
            display: block;

            > img {
                display: block;
                width: 100%;
                height: 100%;
            }

            > iframe {
                display: block;
                width: 100%;
                height: 100%;
            }

            > canvas {
                display: block;
                width: 100%;
                height: 100%;
            }

            > span {
                display: inline-block;
                width: 100%;
                color: @white;
                text-align: center;
            }

            > .van-icon,
            > .mue-dvr-video__masker {
                display: block;
                width: 100%;
                height: 100%;
                color: @white;
                position: absolute;
                top: 0;
                left: 0;
                font-size: 46px;
                //background: rgba(0, 0, 0, 0.1);

                &:before {
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate3d(-50%, -50%, 0);
                }

                > i.fa-arrows-alt {
                    display: block;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    height: 30px;
                    width: 30px;
                    font-size: 16px;
                    line-height: 30px;
                    text-align: center;
                    background: fade(@black, 30);
                }
            }

            > video {
                width: 100%;
                height: 100%;
                object-fit: fill;
            }
        }

        .mue-dvr-video__bar {
            display: block;
            background: @@background;
            color: @@color;
            font-size: @font-size;
            overflow: hidden;

            .mue-dvr-video__bar-name {
                display: block;
                float: left;
                height: 30px;
                line-height: 30px;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                box-sizing: border-box;
                padding: 0 10px;
                white-space: nowrap;

                > i.iconfont {
                    display: inline-block;
                    height: 24px;
                    line-height: 24px;
                    text-align: center;
                    font-size: 24px;
                    color: @@grey-sub;
                    vertical-align: -4px;
                }
            }

            .mue-dvr-video__bar-btn {
                float: right;
                display: none;
                width: 30px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                color: @@grey;
            }

            &.mue-dvr-video__bar-selectable {
                .mue-dvr-video__bar-name {
                    width: calc(~"100% - 30px");
                }

                .mue-dvr-video__bar-btn {
                    display: block;
                }
            }

        }
    }

    .mue-dvr {
        .mue-main {
            background: @background-base;
        }

        .mue-dvr-header {
            display: flex;
            .mue-dvr-tabs {
                flex: 1;
            }
            .multi-select {
                flex-shrink: 0;
                align-items: center;
                justify-content: center;
                display: flex;
                background: #ffffff;
                >i {
                    font-size: 20px;
                    border-left: solid 1px #e0e0e0;
                    padding: 0 15px;
                }
            }
        }
    }

    .mue-dvr-video__pop {
        height: 100%;
        width: 100%;
        overflow: hidden;
        background: @black;

        > iframe {
            width: 100%;
            height: 100%;
        }

        > a.fa-times {
            display: block;
            width: 30px;
            height: 30px;
            position: absolute;
            top: 0;
            right: 0;
            background: fade(@black, 30);
            font-size: 16px;
            line-height: 30px;
            text-align: center;
            color: @white;
        }

        &.rotate-screen{
            > iframe {
                width: 100vh;
                height: 100vw;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(90deg);
            }
            > a.fa-times{
                top: unset;
                bottom: 0;
            }
        }
    }
}