@import "../var.less";

.mue-form(@theme: light) {
    @background-base: %("%s-background-base", @theme);
    @background: %("%s-background", @theme);
    @color: %("%s-common", @theme);
    @primary: %("%s-primary", @theme);
    @grey: %("%s-grey", @theme);
    @grey-sub: %("%s-grey-sub", @theme);
    @disabled: %("%s-button-disable-color", @theme);
    @border-color: %("%s-border-color", @theme);
    @border-color-item: %("%s-form-border-color", @theme);
    @border-color-title: %("%s-form-title-border-color", @theme);
    @placeholder: %("%s-placeholder", @theme);

    @background-pop: %("%s-background-pop", @theme);

    .mue-form-input {
        background: @@background;
        display: flex;
        font-size: @font-size;
        border: 1px solid @@border-color;
        border-radius: 2px;
        box-sizing: border-box;
        height: 32px;
        min-width: 50px;
        width: 100%;
        padding: 0 5px;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        .input__inner {
            border: 0;
            margin: 0;
            color: @@color;
            display: inline-block;
            box-sizing: border-box;
            background: transparent;
            height: 30px;
            width: 100%;
            padding: 6px 0;
            vertical-align: middle;

            flex: 0 1 auto;
        }

        .input__inner::-webkit-input-placeholder {
            color: @@placeholder;
        }

        .input__suffix {
            width: 20px;
            text-align: center;
            height: 20px;
            line-height: 20px;
            color: @@grey;
            margin-left: 5px;

            flex: 0 0 auto;
        }

        .mue-input__pop-button {
            font-size: 14px;
            color: @@grey;
            display: inline-block;
            width: 20px;
            height: 20px;
            text-align: center;
            vertical-align: middle;
            line-height: 20px;
            margin-left: 5px;

            flex: 0 0 auto;
        }
    }

    .mue-input {
        display: inline-block;
    }

    .mue-select {
        display: inline-block;

        .input__inner {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .mue-textarea {
        display: inline-block;
        line-height: 0;
        position: relative;

        .textarea__inner {
            font-size: @font-size;
            line-height: 20px;
            padding: 5px;
            background: @@background;
            display: inline-block;
            border: 1px solid @@border-color;
            border-radius: 2px;
            box-sizing: border-box;
            min-width: 50px;
            width: 100%;
            resize: none;
        }

        .textarea__inner::-webkit-input-placeholder {
            color: @@placeholder;
        }

        .mue-textarea__pop-button {
            font-size: 14px;
            color: @@grey;
            display: inline-block;
            width: 20px;
            height: 20px;
            position: absolute;
            right: 5px;
            bottom: 5px;
            text-align: center;
            vertical-align: middle;
            line-height: 20px;
        }
    }

    .mue-img-upload {
        display: inline-block;
        padding: 5px 0 0 5px;
        box-sizing: border-box;
        min-width: 55px;
        max-width: 100%;
        background: @@background;

        ul.mue-img-upload-list {
            display: block;
            width: 100%;
            overflow: hidden;

            @item-size: 50px;

            > li {
                display: block;
                float: left;
                box-sizing: border-box;
                height: @item-size;
                width: @item-size;
                border: 2px solid @@border-color;
                margin: 2px 5px 2px 0;
                overflow: hidden;
                position: relative;

                &.__upload-btn {
                    i.icon-tianjia {
                        font-size: @item-size - 20px;
                        color: @@grey;
                        display: block;
                        height: @item-size - 4px;
                        width: @item-size - 4px;
                        line-height: @item-size - 2px;
                        text-align: center;

                        &.is-disabled {
                            color: @@disabled;
                        }
                    }

                    .van-loading {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: @@grey;
                    }
                }

                &.__upload-img {
                    background: @@background-base;

                    > img {
                        width: @item-size - 4px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                    }
                }
            }
        }
    }

    // gis-point
    .mue-gis-point-pop {
        height: 60%;

        > .van-picker {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            height: 100%;

            > .van-picker__toolbar {
                flex-grow: 0;
                flex-shrink: 0;
            }
        }

        .mue-gis-point-pop--info {
            flex-grow: 0;
            flex-shrink: 0;
            height: 30px;
            width: 100%;
            font-size: @font-size;
            box-sizing: border-box;
            padding-left: 10px;

            > label {
                float: left;
                height: 30px;
                line-height: 30px;
                width: 40px;
                display: inline-block;
                color: @@grey;
            }

            > span {
                float: left;
                height: 30px;
                line-height: 30px;
                display: inline-block;
                color: @@color;
                width: calc(~"50% - 40px");
                overflow: hidden;
                text-overflow: ellipsis;
                padding-right: 10px;
                box-sizing: border-box;
            }
        }

        .mue-gis-point-pop--map {
            width: 100%;
            flex-grow: 1;
            flex-shrink: 1;
            position: relative;

            > .vue2leaflet-map {
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
            }

            > .mue-gis-point-pop--marker {
                position: absolute;
                overflow: hidden;
                z-index: 1000;
                left: 50%;
                top: 50%;

                > img {
                    width: 100%;
                    height: 100%;
                }

                > img.--shadow {
                    width: 14px;
                    height: 14px;
                    position: absolute;
                    left: 4px;
                    top: 12px;
                    opacity: 0.85;
                }
            }

            .leaflet-control-zoom {
                border: 1px solid @@border-color;

                > a, a:hover {
                    background: @@background-pop;
                    border-color: @@border-color;
                    -webkit-tap-highlight-color: unset;
                    color: @@primary;
                    font-weight: normal;
                    width: 26px;
                    height: 26px;
                    line-height: 26px;

                    &.leaflet-disabled {
                        color: @@disabled;
                    }
                }
            }
        }
    }

    // tree-picker
    .mue-tree-picker {
        display: inline-block;

        .input__inner {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .mue-tree-picker-pop {
        width: 90%;
        height: 100%;
    }

    .mue-form {
        background: @@background-base;
        overflow: auto;
        overflow-x: hidden;
        display: block;
        box-sizing: border-box;
        width: 100%;

        .mue-form-item-group {
            background: @@background;
            margin-bottom: 4px;

            div.mue-form-item-group-title {
                margin: 0;
                height: 36px;
                padding: 0 10px;
                box-sizing: border-box;
                position: relative;

                i.__icon {
                    outline: 0;
                    display: block;
                    height: 20px;
                    width: 20px;
                    text-align: center;
                    line-height: 20px;

                    &.icon-icon_wenhao {
                        font-size: 20px;
                    }
                }

                > span:first-child {
                    float: left;
                    font-size: @font-size;
                    color: @@grey;
                    margin-top: 8px;
                    line-height: 20px;

                    i.__icon {
                        float: left;
                        padding-right: 5px;
                    }
                }

                > span:nth-child(2) {
                    float: right;
                    font-size: @font-size;
                    color: @@grey-sub;
                    margin-top: 8px;
                    line-height: 20px;

                    i.__icon {
                        float: right;
                        padding-left: 5px;

                        &.icon-icon_wenhao {
                            color: #fcb100;
                        }
                    }

                    .mue-form-help {
                        color: @black;
                        padding: 5px;
                        margin-top: 5px;
                        background: #fbf0b8;
                        font-size: @font-size;

                        .popper__arrow {
                            border-bottom-color: #fbf0b8;

                            &:after {
                                border-bottom-color: #fbf0b8;
                            }
                        }
                    }
                }

                &:after {
                    content: "";
                    width: 100%;
                    height: 1px;
                    background: @@border-color-title;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }

        .mue-form-item {
            background: @@background;
            min-height: 40px;
            margin: 0;
            padding: 0 10px;
            box-sizing: border-box;
            border-bottom: @@border-color-item 1px solid;
            position: relative;

            > label {
                display: inline-block;
                color: @@color;
                font-size: @font-size;
                position: absolute;
                top: 50%;
                line-height: 16px;
                z-index: 10;
                transform: translateY(-50%);
                padding-left: 5px;
                padding-right: 0;
                box-sizing: border-box;

                &.is-error {
                    color: @red;
                }
            }

            &.is-required {

                > label:after {
                    content: "*";
                    position: absolute;
                    display: block;
                    width: 10px;
                    height: 16px;
                    line-height: 16px;
                    text-align: center;
                    font-size: 12px;
                    color: @red;
                    top: 50%;
                    transform: translateY(-6px);
                    left: -4px;
                    right: unset;
                }
            }

            //.error-icon {
            //    font-size: 16px;
            //    color: @red;
            //    position: absolute;
            //    width: 20px;
            //    height: 20px;
            //    line-height: 20px;
            //    text-align: center;
            //    top: 50%;
            //    transform: translateY(-10px);
            //    right: 10px;
            //}
        }

        .mue-form-item-content {
            padding: 5px 0;
            width: 100%;
            box-sizing: border-box;
            text-align: right;

        }

        &.required-at-end {
            .mue-form-item.is-required {

                > label {
                    padding-right: 15px;

                    &:after {
                        content: "*";
                        position: absolute;
                        display: block;
                        width: 10px;
                        height: 16px;
                        line-height: 16px;
                        text-align: center;
                        font-size: 12px;
                        color: @red;
                        top: 50%;
                        transform: translateY(-6px);
                        right: 5px;
                        left: unset;
                    }
                }
            }
        }

        .mue-form-item.not-inline {
            > label {
                position: relative;
                margin-top: 10px;
                top: unset;
                transform: none;
            }
        }

        .mue-form-buttons {
            width: 100%;
            margin: 20px 0;
            overflow: hidden;

            > .van-button {
                float: left;
                width: calc(~"50% - 30px");
                margin: 0 15px;
            }
        }
    }

    // 表单内组件样式覆盖
    .mue-form-item-content {
        .mue-form-input {
            padding: 0;
            border: 0;
            height: 30px;

            .input__inner {
                text-align: right;
                padding-left: 5px;
                width: calc(~"100% - 25px");
                //padding-right: 25px;
            }

            .input__suffix {
                right: 0;
            }
        }

        // input
        .mue-input {
            width: 100%;
        }

        // select
        .mue-select {
            width: 100%;
            // 箭头旋转
            .input__suffix.icon-arrows-copy-copy {
                transform: rotate(-90deg);
            }
        }

        // date-picker
        .mue-date-picker-input {
            width: 100%;
        }

        // textarea
        .mue-textarea {
            width: 100%;

            .textarea__inner {
                border: 0;
            }
        }

        // img-upload
        .mue-img-upload {
            width: 100%;
        }

        // tree-picker
        .mue-tree-picker {
            width: 100%;
        }

        // 只读
        //.input__inner:read-only, .textarea__inner:read-only {
        //    color: @@grey;
        //}
    }

    .mue-form-item.not-inline .mue-form-item-content {
        .mue-form-input {
            .input__inner {
                text-align: left;
                color: @@grey;
            }
        }

        .mue-textarea {
            .textarea__inner {
                color: @@grey;
            }
        }
    }

    .mue-form-valid-dialog {
        div.valid-errors {
            width: 100%;
            max-height: 130px;
            overflow: auto;
            overflow-x: hidden;

            b.valid-error {
                color: @red;
            }
        }
    }

    // 只读
    .mue-form .mue-form-item.is-readonly {
        // 遮罩禁止编辑
        > label {
            padding-right: 0;
        }

        .mue-form-item-content {

            // 选择、日历图标隐藏
            .mue-form-input {
                .input__inner {
                    padding-right: 5px;
                }

                .input__suffix_icon {
                    display: none;
                }
            }

            // 只读字体灰色
            .input__inner, .textarea__inner {
                color: @@grey;
            }

            // 隐藏站位符
            .input__inner::-webkit-input-placeholder,
            .textarea__inner::-webkit-input-placeholder {
                color: transparent;
            }

            .mue-form-text {
                text-align: right;
                padding: 5px;
                line-height: 20px;
                white-space: normal;
                word-break: break-word;
                display: inline-block;
                width: 100%;
                color: @@grey;
                box-sizing: border-box;
                font-size: @font-size;

                .input__suffix {
                    display: inline-block;
                    margin-left: 5px;
                    line-height: 20px;
                }
            }

            .mue-textarea .mue-form-text {
                text-align: left;
            }
        }

        &.not-inline {
            .mue-form-item-content .mue-form-text {
                text-align: left;
            }
        }
    }
}