@import "../var.less";
.mue-form-input{
    background: @light-background;
    color: @light-common;
    display: inline-block;
    font-size: @font-size;
    .input__inner{
        border: 0;
        padding: 0 5px;
        margin: 0;
        display: inline-block;
        box-sizing: border-box;
    }
}

.mue-select{
    height: 30px;
    min-width: 50px;
    display: inline-block;
    background: @light-background;
    box-sizing: border-box;
    border: 1px solid @light-border-color;
    border-radius: 2px;
    .mue-form-input{
        height: 100%;
        width: 100%;
        position: relative;
        .input__inner{
            width: 100%;
            padding-right: 30px;
            height: 100%;
        }
        .input__suffix{
            position: absolute;
            right: 5px;
            width: 20px;
            text-align: center;
            height: 20px;
            line-height: 20px;
            top: 50%;
            margin-top: -10px;
            color: @light-grey;
        }
    }
}