@import "./panel.less";
@import "./container.less";
@import "./loading.less";
@import "./popover.less";
@import "./roll-data.less";
@import "./search.less";
@import "./tab.less";
@import "./datepicker.less";
@import "./form.less";
@import "./datatable.less";
@import "./loadmore.less";
@import "./dvr.less";
@import "./sortpicker.less";

.mue-chart {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.mue(@theme: light) {

    .mue-panel(@theme: @theme);

    .mue-popover(@theme: @theme);

    .mue-roll-data(@theme: @theme);

    .mue-search(@theme: @theme);

    .mue-tabs(@theme: @theme);

    .mue-datatable(@theme: @theme);

    .mue-datepicker(@theme: @theme);

    .mue-form(@theme: @theme);

    .mue-load-more(@theme: @theme);

    .mue-dvr(@theme: @theme);

    .mue-sort-picker(@theme: @theme);
}