@import "../var.less";

.mue-load-more(@theme: light) {
    @background: %("%s-background", @theme);
    @grey: %("%s-grey", @theme);
    .mue-load-more {
        background: @@background;
        overflow: auto;
        height: 100%;
        width: 100%;

        .mue-load-more-wrap {
            overflow: hidden;
            width: 100%;
        }

        .mue-load-more-content {
            overflow: visible;

            &.is-dropped {
                transition: .2s
            }
        }

        .mue-load-more-top, .mue-load-more-bottom {
            text-align: center;
            height: 50px;
            line-height: 50px;
            width: 100%;
            display: block;
            color: @@grey;
            font-size: @font-size;

            i {
                transition: .2s;
                display: inline-block;
                height: 16px;
                width: 16px;
                text-align: center;
                line-height: 16px;
            }
        }

        .mue-load-more-top {
            margin-top: -50px;

            i.is-drop {
                transform: rotate(180deg) translate3d(0, 2px, 0);
            }
        }

        .mue-load-more-bottom {
            margin-bottom: -50px;

            i.is-drop {
                transform: rotate(180deg) translate3d(0, 0, 0);
            }
        }


    }
}