@import "../var.less";

.mue-load-more(@theme: light) {
    @background: %("%s-background", @theme);
    @color: %("%s-common", @theme);
    @grey: %("%s-grey", @theme);
    @background-pop: %("%s-background-pop", @theme);
    @border-color-pop: %("%s-border-color-pop", @theme);

    .mue-load-more {
        background: @@background;
        overflow: hidden;
        height: 100%;
        width: 100%;
        position: relative;

        .mue-load-more-box {
            overflow: auto;
            height: 100%;
            width: 100%;
            padding-right: @scroll-size; // 隐藏右侧滚动条
            box-sizing: content-box;
            -webkit-overflow-scrolling: touch;

            &.is-reached {
                -webkit-overflow-scrolling: auto;
            }
        }

        .mue-load-more-wrap {
            overflow: hidden;
            width: 100%;
        }

        .mue-load-more-content {
            transform: translate3d(0, 0, 0);
            overflow: visible;

            &.is-dropped {
                transition: .2s;
            }
        }

        .mue-load-more-end {
            width: 100%;
            display: block;
        }

        .mue-load-more-top, .mue-load-more-bottom {
            text-align: center;
            height: 50px;
            width: 100%;
            display: block;
            color: @@grey;
            font-size: @font-size;
            background: @@background;
            position: relative;

            .mue-load-more-text {
                z-index: 5;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            i {
                transition: .2s;
                display: inline-block;
                height: 16px;
                width: 16px;
                text-align: center;
                line-height: 16px;
            }
        }

        .mue-load-more-top {
            margin-top: -50px;

            i.is-drop {
                transform: rotate(180deg) translate3d(0, 2px, 0);
            }
        }

        .mue-load-more-bottom {
            margin-bottom: -50px;

            i.is-drop {
                transform: rotate(180deg) translate3d(0, 0, 0);
            }
        }

        .mue-load-more-pagination {
            position: absolute;
            display: block;
            right: 20px;
            bottom: 20px;
            width: 40px;
            height: 40px;

            z-index: 80;

            > .__button {
                transform-style: preserve-3d;
                transform: translateZ(-20px) rotateX(-90deg);
                transition-duration: 0.5s;
                width: 100%;
                height: 100%;

                &.is-pager {
                    transform: translateZ(-20px) rotateX(0deg);
                }

                > a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: fade(@@background-pop, 30%);
                    box-sizing: border-box;
                    border: 2px solid @@border-color-pop;
                    position: absolute;
                    border-radius: 50%;
                }

                > a.__pager {
                    transform: translateZ(20px);

                    &:before {
                        content: "";
                        display: block;
                        position: absolute;
                        height: 2px;
                        width: 28px;
                        left: 4px;
                        background: @@border-color-pop;
                        top: 18px;
                    }

                    > span {
                        display: block;
                        float: left;
                        width: 100%;
                        text-align: center;
                        height: 14px;
                        line-height: 14px;
                        color: @@grey;
                        font-size: 12px;
                    }

                    > ul {
                        height: 20px;
                        overflow: hidden;
                        color: @@color;
                        font-size: 14px;
                        line-height: 20px;
                        float: left;
                        width: 100%;

                        > li {
                            text-align: center;
                            float: left;
                            width: 100%;
                        }
                    }
                }

                > a.__backtop {
                    transform: translateY(-20px) rotateX(90deg);
                    vertical-align: middle;
                    text-align: center;
                    line-height: 40px;

                    > i {
                        font-size: 24px;
                        color: @@color;
                    }
                }
            }
        }
    }
}