@import "../var.less";

.mue-tabs(@theme: light) {
    @background: %("%s-background", @theme);
    @background-bar: %("%s-background-bar", @theme);
    @primary: %("%s-primary", @theme);
    @grey: %("%s-grey", @theme);
    @split: %("%s-border-color-bar", @theme);
    @color-bar: %("%s-tabs-color", @theme);
    @pop-split: %("%s-border-color-pop", @theme);
    @border-color: %("%s-border-color-bar", @theme);
    @color-disabled: %("%s-button-disable-color", @theme);

    .mue-tabs {
        position: relative;
        background: @@background;

        > .van-tabs {
            height: 100%;
            box-sizing: border-box;

            &.van-tabs--line .van-tab:after{
                content: "";
                position: absolute;
                right: 0;
                height: 20px;
                top: 10px;
                width: 1px;
                background: @@split;
            }

            > .van-tabs__wrap {
                padding-right: 0;
                box-sizing: border-box;

            }

            > .van-tabs__content {
                height: 100%;

                > .van-tab__pane {
                    height: 100%;
                    box-sizing: border-box;
                }
            }
        }

        &.active-at-more {
            .van-tab.van-tab--active {
                color: @@grey;

                & > :first-child:before {
                    content: none;
                }
            }
        }

        .mue-tabs-more {
            background: @@background-bar;
            display: none;
            width: 40px;
            height: 40px;
            position: absolute;
            box-sizing: border-box;
            top: 0;
            right: 0;
            z-index: 100;
            text-align: center;
            line-height: 40px;
            color: @@color-bar;
            border: 0 solid @@border-color;

            .border(@t) when (@t = dark) {
                border-bottom-width: 0;
                border-top-width: 1px;
            }

            .border(@t) when not (@t = dark) {
                border-bottom-width: 1px;
                border-top-width: 0;
            }

            .border(@theme);

            &.in-more {
                color: @@primary;
            }
        }

        &.has-more {
            > .van-tabs > .van-tabs__wrap {
                padding-right: 40px;
                height: 40px;
            }

            .mue-tabs-more {
                display: block;
            }
        }

        .mue-tab {
            height: 40px;
            display: block;
            overflow: hidden;
            //margin-top: 10px;

            > .mue-tab-icon {
                display: inline-block;
                //float: left;
                height: 20px;
                line-height: 20px;
                text-align: center;
                width: 20px;
                margin-right: 2px;
                margin-top: 10px;
            }

            > .mue-tab-title {
                display: inline-block;
                //float: left;
                height: 20px;
                line-height: 20px;
                margin-top: 10px;
            }
        }

        .mue-tabs-pop {
            > .mue-tabs-pop-tabs {
                max-height: 180px;
                padding: 0 10px;
                overflow-x: hidden;
                overflow-y: auto;
            }

            .mue-tabs-pop-tab {
                height: 40px;
                padding: 5px;
                box-sizing: border-box;
                font-size: 14px;
                border-bottom: 1px solid @@pop-split;
                position: relative;
                line-height: 30px;

                &:last-child {
                    border-bottom: 0;
                }

                > .mue-tab-icon {
                    font-size: 14px;
                    display: block;
                    float: left;
                    height: 16px;
                    line-height: 16px;
                    text-align: center;
                    width: 16px;
                    margin-top: 8px;
                    color: @@grey
                }

                > .mue-tab-title {
                    display: block;
                    float: left;
                    height: 30px;
                    line-height: 30px;
                    max-width: 100px;
                    padding: 0 5px 0 8px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                &.is-disabled {
                    color: @@color-disabled;

                    > .mue-tab-icon {
                        color: @@color-disabled;
                    }
                }

                &.is-active {
                    color: @@primary;

                    > .mue-tab-icon {
                        color: @@primary;
                    }
                }
            }
        }
    }
}
