@import "../var.less";

.van-common(@theme: light) {
    .van-modal {
        background: rgba(0, 0, 0, 0.6);
    }

    [class*=van-hairline]::after {
        @border-color: %("%s-border-color-base", @theme);
        border-color: @@border-color;
    }
}


