@import "../var.less";

.van-common(@theme: light) {
    @border-color: %("%s-border-color", @theme);
    @border-color-pop: %("%s-border-color-pop", @theme);
    .van-modal {
        background: rgba(0, 0, 0, 0.6);
    }

    .van-info {
        border: 0;
        color: @bubble-color;
        background: @bubble-background;
        top: -4px;
        min-width: 0;
        padding: 0 4px;
    }

    [class*=van-hairline]:after {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: none;
        border-color: @@border-color;
    }
    .van-popup [class*=van-hairline]:after,
    .van-dialog [class*=van-hairline]:after {
        border-color: @@border-color-pop;
    }
}