@import '../var.less';

.van-radio(@theme:light) {

    @border-color: %("%s-grey", @theme);
    @label-color: %("%s-common", @theme);
    @primary: %("%s-primary", @theme);

    @disable-color: %("%s-radio-disable-color", @theme);
    @disable-background: %("%s-radio-disable-background", @theme);

    .van-radio {
        line-height: 0;

        .van-radio__input {
            font-size: @radio-size;
            width: @radio-size;
            height: @radio-size;

            > .van-icon {
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 100%;
                border: 1px solid @@border-color;
                box-sizing: border-box;
            }

            .van-icon-checked {
                background: @@primary;
                border-color: @@primary;

                &:before {
                    display: block;
                    content: "";
                    float: left;
                    width: calc(@radio-size / 2 + 2px);
                    height: calc(@radio-size / 2 - 4px);
                    border: 2px solid @white;
                    border-top: 0;
                    border-right: 0;
                    margin-top: calc(@radio-size / 4 - 2px);
                    margin-left: calc(@radio-size / 4 - 3px);
                    transform: rotate(-45deg);
                }
            }

            .van-icon-check:before {
                display: none;
            }
        }

        .van-radio__label {
            line-height: @radio-size;
            font-size: @radio-font-size;
            color: @@label-color;
        }

        &.van-radio--disabled {
            .van-radio__input > .van-icon {
                background: @@disable-background;
                border-color: @@disable-color;
            }

            .van-icon-checked:before {
                border-color: @@disable-color;
            }

        }
    }
}