@import '../var.less';

.van-tabs(@theme: light) {
    @background: %("%s-background", @theme);
    @background-bar: %("%s-background-bar", @theme);
    @primary: %("%s-primary", @theme);
    @grey: %("%s-tabs-color", @theme);
    @split: %("%s-border-color-bar", @theme);
    @color: %("%s-common", @theme);
    @color-disabled: %("%s-button-disable-color", @theme);

    .van-tabs {
        background: @@background;

        .van-tabs__nav {
            background: @@background-bar;

            .van-tab {
                background: transparent;
            }
        }

        &.van-tabs--line {
            padding-top: 40px;

            .van-tabs__wrap {
                height: 39px;

                &.van-hairline--top-bottom:after {
                    content: none;
                }

                &.van-hairline--top-bottom {
                    border-color: @@split;
                    border-style: solid;

                    .border(@t) when (@t = dark) {
                        border-width: 1px 0 0 0;
                    }

                    .border(@t) when not (@t = dark) {
                        border-width: 0 0 1px 0;
                    }

                    .border(@theme);

                }
            }

            .van-tabs__line {
                display: none;
            }

            .van-tab {
                padding: 0 12px;
                height: 100%;
                font-size: @font-size;
                color: @@grey;
                line-height: 39px;
                overflow: hidden;

                &:not(:last-child) {
                    &:after {
                        content: "";
                        position: absolute;
                        right: 0;
                        height: 20px;
                        top: 10px;
                        width: 1px;
                        background: @@split;
                    }
                }

                &.is-last {
                    &:after {
                        display: none;
                    }
                }

                &.van-tab--active {
                    color: @@primary;
                }

                &.van-tab--disabled {
                    color: @@color-disabled;
                }

                > :first-child {
                    position: relative;
                    height: 100%;
                    display: inline-block;
                    text-align: center;
                    padding: 0 3px;

                    &:before {
                        content: "";
                        display: none;
                        width: 100%;
                        height: 2px;
                        border-radius: 2px;
                        background: @@primary;
                        bottom: 0;
                        left: 0;
                        position: absolute;
                        z-index: 10;
                    }
                }

                &.van-tab--active > :first-child:before {
                    display: block;
                }
            }
        }

        &.van-tabs--card {
            .van-tabs__nav--card {
                border-color: @@primary;
            }

            .van-tab {
                color: @@primary;
                border-color: @@primary;

                &.van-tab--active {
                    color: @white;
                    background-color: @@primary;
                }

                &.van-tab--disabled {
                    color: @@color-disabled;
                }
            }
        }

        &.no-flex.van-tabs--line {
            .van-tabs__nav--line {
                display: inline-block;
                white-space: nowrap;
                overflow: scroll;
                width: 100%;
                .van-tab{
                    display: inline-block;
                    flex: none;
                }
            }
        }

        .van-tabs__content {
            background: transparent;
            color: @@color;
        }
    }
}

