@import '../../var.light.less';
.van-tabs {
    &.van-tabs--line {
        padding-top: 40px;

        .van-tabs__wrap {
            height: 40px;
            background: @light-white;
            &.van-hairline--top-bottom:after {
                // 去除上边框
                border-top: 0;
            }
        }

        .van-tabs__line {
            background-color: @light-primary
        }

        .van-tab {
            line-height: 40px;
            font-size: @font-size;
            color: @light-gray;
            &:not(:last-child) {
                &:after {
                    content: "";
                    position: absolute;
                    right: 0;
                    height: 20px;
                    top: 10px;
                    width: 1px;
                    background: @light-border-color-base;
                }
            }
            &.is-last{
                &:after{
                    display: none;
                }
            }
            &.van-tab--active {
                color: @light-primary;
            }
        }
    }

    &.van-tabs--card {
        .van-tabs__nav--card {
            border-color: @light-primary;
        }
        .van-tab {
            color: @light-primary;
            border-color: @light-primary;
            &.van-tab--active {
                color: @light-white;
                background-color: @light-primary;
            }
        }
    }

    &.no-flex {
        .van-tabs__nav--line {
            display: -moz-box;
            display: -webkit-box;
            .van-tabs__line {
                display: none;
            }
            .van-tab {
                padding: 0 15px;
                &.van-tab--active:before {
                    content: "";
                    display: block;
                    width: calc(~"100% - 30px");
                    height: 2px;
                    border-radius: 2px;
                    background: @light-primary;
                    bottom: 0;
                    left: 15px;
                    position: absolute;
                    z-index: 10;
                }
            }
        }
    }

    .van-tabs__content{
        background: @light-white;
    }
}
