@import 'normalize.css';
@import (inline) '~vant/lib/index.css';
@import '~vant/lib/icon/local.less';
@import "./fonts/iconfont.css";
@import "./font-awesome/font-awesome.css";

html, body, #app {
    height: 100%;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
    //font-family: Arial, Verdana, Tahoma, serif;
    overflow: hidden;
}

#app {
    overflow-y: auto;
}

* {
    -webkit-overflow-scrolling: touch;

    //隐藏滚动条
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
        background: transparent;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: transparent;
    }

    -webkit-tap-highlight-color: transparent;
    outline: none;
}

*:not(textarea):not(input) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@import "./var.less";
@import "./vant/index.less";
@import "./mue/index.less";
// day
body {

    input:not(.van-uploader__input):disabled,
    textarea:disabled {
        opacity: 1;
    }

    color: @light-common;
    background: @light-background-base; //灰色

    //&.mue-overlay-show {
    //    cursor: pointer;
    //    -webkit-overflow-scrolling: auto;
    //}

    .vant;
    .mue;
    //@import "./light/index.less";
}

// night
body.nightcolor {
    color: @dark-common;
    background: @dark-background-base;

    .vant(@theme: dark);
    .mue(@theme: dark);
    //@import "./dark/index.less";
}
