@font-size: 14px;

@light-white: #fff;
@light-black: #000;
@light-gray: #757575;
@light-common: #212121;
@light-primary: #4796e3;

@light-background-common: #fff;

// 边框颜色
@light-border-color-base: #e0e0e0;
@light-border-color-dark: #cccccc;

// button
@button-font-size: 16px;
@button-height: 44px;

@light-button-background: #f0f0f0;

@light-button-active-mask: 0.2;
@light-button-disable-color: #bdbdbd;
@light-button-disable-background: #f0f0f0;



//panel
@panel-background: #fff;
