@import "../../var.light.less";
.mue-date-picker {
    color: @light-common;
    .pick-bar {
        height: 40px;
        line-height: 40px;
        font-size: @font-size;
        background:@light-background-common;
        border-bottom: 1px solid @light-border-color-base;
        text-align: center;
        .pick-bar-content{
            padding: 0 30px;
            box-sizing: border-box;
            position: relative;
            .van-icon{
                position: absolute;
                color: @light-gray;
                top: 3px;
                &.van-icon-arrow-left{
                    left: 0;
                }
                &.van-icon-arrow{
                    right: 0;
                }
            }
        }
    }
}

.mue-date-range-picker {
    color: @light-common;
    .pick-bar {
        height: 40px;
        line-height: 40px;
        font-size: @font-size;
        background:@light-background-common;
        border-bottom: 1px solid @light-border-color-base;
        text-align: center;
        .pick-bar-content{
            padding: 0 30px;
            box-sizing: border-box;
            position: relative;
            .van-icon{
                position: absolute;
                color: @light-gray;
                top: 3px;
                &.van-icon-arrow-left{
                    left: 0;
                }
                &.van-icon-arrow{
                    right: 0;
                }
            }
        }
    }
}
