@import "../../var.less";
.mue-date-picker,
.mue-date-range-picker {
    color: @light-common;
    .pick-bar {
        height: 40px;
        line-height: 40px;
        background: @light-background-common;
        text-align: center;
        box-sizing: border-box;
        .pick-bar-content {
            padding: 0 35px;
            position: relative;
            > a {
                font-size: @font-size-large;
                font-weight: 400;
            }
            .van-icon {
                position: absolute;
                color: @light-gray;
                top: 3px;
                &.van-icon-arrow-left {
                    left: 0;
                }
                &.van-icon-arrow {
                    right: 0;
                }
            }
        }
    }
}

.mue-date-picker-input,
.mue-date-range-picker-input{
    height: 30px;
    min-width: 50px;
    display: inline-block;
    background: @light-background-common;
    box-sizing: border-box;
    border: 1px solid @light-border-color-base;
    border-radius: 2px;
    .mue-form-input{
        height: 100%;
        width: 100%;
        position: relative;
        .input__inner{
            width: 100%;
            padding-right: 30px;
            height: 100%;
        }
        .input__suffix{
            position: absolute;
            right: 5px;
            width: 20px;
            text-align: center;
            height: 20px;
            line-height: 20px;
            top: 50%;
            margin-top: -10px;
            color: @light-gray-light;
        }
    }
}